.weather-crypto-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.widget-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
}

.widget-panel.visible {
  opacity: 1;
  z-index: 1;
  pointer-events: auto;
}

.widget-panel.hidden {
  opacity: 0;
  z-index: 0;
  pointer-events: none;
}
